{% extends 'base.html.twig' %}

{% block body %}

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    <table>
        <thead>
        <tr>
            <td>Başlık</td>
            <td>İçerik</td>
        </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.content }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><a style="text-decoration: none; color: #565656; font-size: 26px" href="write">Ekle</a>
{% endblock %}