{% extends 'base.html.twig' %}
{% block title %}Kayıt Ekranı{% endblock %}
{% block body %}
    {% if message is defined %}
        {{ message }}
    {% endif %}
    <div class="main">
        <form class="form-horizontal" action="" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">İsim ve Soyad:</label>
                <div class="col-sm-5">
                    <input type="name" name="name" class="form-control" id="name" placeholder="İsim ve Soyad">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-5">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="phone">Cep Telefonu:</label>
                <div class="col-sm-5">
                    <input type="number" name="phone" class="form-control" id="phone" placeholder="Cep Telefonu">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}