{% extends 'base.html.twig' %}

{% block body %}
    {% if message is defined %}
        {{ message }}
    {% endif %}
    <form action="" method="post">
        <input type="text" name="title" id="title" placeholder="title"><br>
        <textarea name="content" id="content" cols="38" rows="10" placeholder="content"></textarea><br>
        <input type="submit" name="Gönder">
    </form>
    <br><a style="text-decoration: none; color: #565656; font-size: 26px" href="list">Liste</a>
{% endblock %}